.popup-contact{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    top: 0px;
    left:0px;
}
.popup-outside{
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);;
}
.popup-contact .popup-container{
    width:600px;
    background-color: #fff;
    height: 85%;
    border: solid 5px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}
.scroll div h3{
    margin: 0;
    font-size: 65px;
    color: #000;
    font-weight: 500;
    font-style: italic;
}

 .scroll .LeftToRight{
    display: flex;
    animation: scrollText 15s infinite linear;
    margin-top:-25px;
 }
 .scroll .RightToLeft{
    margin-top:-15px;
    display: flex;
    animation: scrollText2 15s infinite linear;
 }

    @keyframes scrollText {
        from   { transform: translateX(0%); }
        to { transform: translateX(41.65%); }
      }

    @keyframes scrollText2 {
        from   { transform: translateX(41.65%); }
        to { transform: translateX(0%); }
      }


/*Formulaire*/
.wpcf7-form {
    max-width: 350px;
}
.wpcf7-form label{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.wpcf7-form p{
    padding: 10px;
}
.wpcf7-form input, .wpcf7-form textarea {
    min-height: 40px;
    border-radius: 8px;
    border: solid 1px #B8BBC2;
    width: 100%;
}
.wpcf7-form .wpcf7-submit{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 50px;
    border-radius: 0px;
    background-color:#B8BBC2 ;
    border: 0px;
}
@media screen and (max-width: 1000px){
    .popup-contact .popup-container{
     height: 90%!important;
    }
}

.hidden{
    display: none!important;
}